# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.development
.env.production

# Build directories
dist/
build/
out/

# System files
.DS_Store
Thumbs.db

# IDE specific
.vscode/
.idea/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by testing tools
coverage/

# Optional npm cache directory
.npm